<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "ec.pocket.hg"
		versionCode="1.0.0"
		version   = "1">
		<name>
			HG
		</name>
		<description>
		</description>
		<author href="http://keyframe.com/" email="epulgar@keyframe.ec">
			Epulgar
		</author>
				
		<gap:plugin name="cordova-plugin-whitelist" source="npm" />
		<!--para compilar en ios hay que borrar esto
		<gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
		<gap:plugin name="org.apache.cordova.statusbar" source="npm" />-->
		<!--/ios-->
    		<preference name="phonegap-version" value="cli-6.3.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<!--<preference name="ios-statusbarstyle" value="black-transparent" />-->
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="true" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="true" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="3000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="true"/>
		<preference name="LoadingDialog" value=","/>
 		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="true" />

		<preference name="StatusBarOverlaysWebView" value="true" />
		<preference name="StatusBarBackgroundColor" value="#018673"/>
		<preference name="StatusBarStyle" value="darkcontent" />


		<gap:platform name="ios" />
		<gap:platform name="android" />
		<feature name="http://api.phonegap.com/1.0/media"/>
		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="http://api.phonegap.com/1.0/media"/>
		<feature name="http://api.phonegap.com/1.0/network"/>

		

		
		<gap:splash src="splash.png" />
		
		<!--para compilar en ios hay que borrar esto
		<feature name="InAppBrowser">
		    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
		</feature>-->
		<!--/ios-->

		<access origin="*" />
		<allow-intent href="*" />
		<allow-navigation href="*" />
		<content src="index.html" />


	</widget>

