<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ec.pocket.hg"
    versionCode = "11"
    version     = "1.1.0" >

<!-- versionCode is optional and Android only -->

  <name>HG</name>

	  <description>
	      An example for phonegap build docs.
	  </description>

  	  <author href="http://pocket.ec/" email="epulgar@pocket.ec">
		Epulgar
	  </author>
	<gap:platform name="ios" />
	
	
	<access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />
	<content src="index.html" />

	</widget>
